<div class="carousel carousel-slider center" data-indicators="true">
  {% for project in site.data.projects %}
  <div class="carousel-item white-text row" style="background-color: #90a4ae;" href="#one!">
    <div class="col m8 offset-m2">
      <h2>{{ project.title }}</h2>
      <i class="medium material-icons">{{ project.icon }}</i>
      <!--<img src="../assets/images/{{ project.img }}" alt="" class="responsive-img">-->
      <p class="white-text">{{ project.description }}</p>
      <br><br>
      <a class="btn waves-effect waves-dark white black-text z-depth-4" target="_blank" href="{{project.url}}">GitHub</a>
    </div>
  </div>
  {% endfor %}
</div>