
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper cyan lighten-3">
       <a href="#!" style="padding-left:10px;"class="brand-logo">&lt;Artemis Hub /&gt;</a>
        <ul class="right hide-on-med-and-down">
          {% for item in site.data.nav %}
           <li class="black-text">
              <a href="{{ item.link }}">
                <spn class="black-text">
                    {{ item.title }}
                </spn>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
